.live{
    display: flex;
    align-items: center;
    height: 50px;
    span{
        display: flex;
        justify-content:center;
        flex: 3;
        cursor: default;
        color: white;
    }
    a{
        display: flex;
        justify-content: center;
        flex: 1;
        text-decoration: none;
        font-size: 25px;
        color: white;
        
    }
   

}
.onl{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span{
        padding: 20px;
        font-size: 25px;
        color: white;
    }
}
.update{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        padding: 5px;
        font-size: 14px;
        color: white;
    }
}