.nav button{
    border: none;
    background-color: #393E46;
    border-radius: 5px;
    cursor: pointer;
    :hover{
        background-color: gray;
       
    }
    span{
        color: white;
    }
  
}


#point{
    background-color:gray;
    :hover{
        opacity: 20%;
        
    }
}
#adđ{
    background-color: green;
    color: white;
    :hover{
        background-color: green;
        color: white;
    }
    
}
.Friend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    button{
        display: flex;
        background-color:#343A40 ;
        padding: 20px;
        width: 237px;
        flex: 1;
        border: none;
        border-radius: 5px;
        justify-content: flex-start;
    }
    div{
        margin: 5px;
    }
    a{
        text-decoration: none;
        :hover{
            background-color: #393E46;
            cursor: pointer;
        }
    }
    span{
        font-size: 18px;
        color: white;
        
       
        

    }
    i{
       font-size: 20px;
      
    }
  
}
.chat{
    button{
        padding: 5px;
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        
        font-size: 15px;
    }
}
